* {
    font-family: Monospace;
}

html {
    font-size: 16px;
}

body {
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

a {
    color: blue;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 420px;
    text-align: left;
    margin: 50px auto;
    padding: 25px;
}

.main {
    background-color: #eee;
    border-radius: 15px;
}

.react-currency-field-wrapper {
    background-color: white;
    border-radius: 5px;
}

.react-currency-field-wrapper input {
    max-width: 135px;
    font-size: 1rem;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    z-index: 2;
    background-color: transparent;
}

.flag {
    font-weight: bold;
}

#stringValue {
    color: green;
}

#numericalValue {
    color: blue;
}

.fieldWarning {
    display: block;
    min-height: 20px;
    color: red;
}

.success {
    color: green;
}

.warning {
    color: red;
}

.redBorder {
    border-color: red;
    outline-color: red;
}

footer {
    font-size: 0.8rem;
}